@model Employee
@{
    ViewData["Title"] = "Update";
}

<h1>Create Employee</h1>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container mt-5">
        <form method="post" action="Update">

            @if (ViewBag.ErrorMsg != null)
            {
                <div class=" alert alert-danger">@ViewBag.ErrorMsg</div>
            }

    
            <div class="form-group">
                <label asp-for="F_name"></label>
                <input asp-for="F_name" class="form-controle" value="@Model.F_name" />
                <span asp-validation-for="F_name" class="text-denger"></span>
            </div>

            <div class="form-group">
                <label asp-for="L_name"></label>
                <input asp-for="L_name" class="form-control" value="@Model.L_name" />
                <span asp-validation-for="L_name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" value="@Model.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" value="@Model.Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Salary"></label>
                <input asp-for="Salary" class="form-control" value="@Model.Salary" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>

@* 
            <select class="form-select" aria-label="Default select example" asp-for="roles">
                <option selected>Select Role</option>
                <option value="">Student_Affairs</option>
                <option value="">Security</option>
            </select> *@

            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/Employee/Index" class="btn btn-info">Back</a>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>
