@model IEnumerable<Attendance_Time_tracking_System.Models.TrackDays>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecture1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecture2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecture3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecture1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecture2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecture3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackNavigation.Name)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { dayId = item.DayId, trackId = item.TrackId }) |
                    @Html.ActionLink("Details", "Details", new { dayId = item.DayId, trackId = item.TrackId }) |
                    @Html.ActionLink("Delete", "Delete", new { dayId = item.DayId, trackId = item.TrackId })
            </td>
        </tr>
}
    </tbody>
</table>
