@model IEnumerable<IntakeViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/dist/boxicons.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>Document</title>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    body {
        min-height: 100vh !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table {
        width: 60vw;
        overflow-y: auto;
        padding: 5px;
        margin: 10px auto;
        text-align: center;
        background-color: rgb(255, 248, 248);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-collapse: collapse;
        border-radius: 25px;
        border: none;
    }

    td {
        padding: 10px;
        border-top: 3px solid rgb(155, 155, 155);
    }

    th {
        padding: 10px;
    }

    .add {
        width: 15vw;
        height: 6vh;
        border: none;
        border-radius: 25px;
        display: flex;
        padding: 10px 20px;
        cursor: pointer;
        background-color: rgba(43, 43, 247, 0.884);
        color: white;
    }

    .add a {
        text-decoration: none;
        color: white;
        display: flex;
    }

    </style>




</head>
<body>
    <div class="container">
        <div class="add" >
            <a asp-action="Create" asp-controller="Intakes">

            <p>New Intake</p>
                <box-icon class="plus" name='plus-circle'></box-icon>
            </a>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Intake Name</th>
                    <th>Program Name</th>
                    <th>Student Number</th>
                    <th>Edit Intake </th>
                    <th>Delete Intake </th>
                    <!-- Add more table headers for other properties -->
                </tr>
            </thead>
            <tbody>
                @foreach (var intake in Model)
                {
                    <tr>
                        <td>@intake.IntakeName</td>
                        <td>
                            @intake.ProgramName
                        </td>
                        <td>@intake.stdNo</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Intakes" asp-route-id="@intake.IntakeId">
                                <box-icon type='solid' name='edit'></box-icon>
                            </a>
                        </td>
                        <td>
                            <!-- Create a link to the Delete action with the date as a query parameter -->
                            <a asp-action="Delete" asp-controller="Intakes" asp-route-id="@intake.IntakeId">
                                <box-icon name='trash'></box-icon>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</body>
</html>


